.apropos{
    font-size: 20px;
    width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.teams{
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}
.para-infos{
    letter-spacing: 0.05em;
    margin-bottom: 1em;
    font-size: 1.1em;
}
.authors li{
    font-size: 1.2em;
    list-style-type: circle;
    margin-left: 2em;
}