:root{
    --main-green : rgb(92, 137, 56);
    --white : white;
    --second-green : #355E22;
    --brown : rgb(65, 46, 35);
    --third-green : rgb(92, 97, 56);
    --black : black;
    --orange : rgb(255, 165, 0);
    --white-green : rgba(157,182,138,1);
    --green : forestgreen;
    --blue : deepskyblue;
}
.presentation{
    background-image: url("../images/background.jpg");
}