.main{
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 5em;
}
.socials{
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    order: 1;
    display: flex;
    flex-direction: column;
}
.title-form{
    font-size: 1.5em;
    letter-spacing: 0.05em;
    text-align: center;
}
.para-form{
    margin: 1em 0 1em 0;
    letter-spacing: 0.05em;
    font-size: 1em;
}
.form form{
    display: flex;
}
.input{
    cursor: pointer;
    outline: none;
    margin: 1em 0 1em 0;
    border: none;
    width: 100%;
    padding: 1.5em 0 1.5em 0;
    background: var(--main-green);
    background: -moz-linear-gradient(90deg, var(--main-green) 0%, var(--white-green) 100%);
    background: -webkit-linear-gradient(90deg, var(--main-green) 0%, var(--white-green) 100%);
    background: linear-gradient(90deg, var(--main-green) 0%, var(--white-green) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c8838",endColorstr="#9db68a",GradientType=1);
    color: var(--white);
}
.textarea{
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--main-green);
    background: -moz-linear-gradient(90deg, var(--main-green) 0%, var(--white-green) 100%);
    background: -webkit-linear-gradient(90deg, var(--main-green) 0%, var(--white-green) 100%);
    background: linear-gradient(90deg, var(--main-green) 0%, var(--white-green) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c8838",endColorstr="#9db68a",GradientType=1);
    width: 100%;
    height: 10em;
    resize: none;
    padding: 1.5em 0 1.5em 0;
    margin: 1em 0 1em 0;
    color: var(--white);
}
.textarea::placeholder{
    color: var(--white);
    opacity: 1;
    font-size: 1em;
    letter-spacing: 0.1em;
}
.input::placeholder{
    color: var(--white);
    opacity: 1;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}
.button{
    position: relative;
    overflow: hidden;
    background-color: var(--orange);
    outline: none;
    margin-top: 2em;
    border: none;
    width: 100%;
    padding: 1.5em 0 1.5em 0;
    cursor: pointer;
}
.button span{
    position: relative;
    z-index: 2;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: var(--black);
}
.button::before{
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 98%;
    height: 90%;
    background-color: var(--orange);
}
.button::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: var(--black);
    transition: 0.3s ease-in-out;
}
.button:hover::after{
    left: 50%;
}
.liste-media{
    display: grid;
    grid-template-columns: repeat(2,15em);
    grid-template-rows: repeat(3, 10em);
    grid-template-areas: "facebook face-text"
                        "insta-text instagram"
                        "twitter twit-text";
    align-items: center;
    justify-content: center;

}
.facebook,.instagram,.twitter,.facebook-text,.instagram-text,.twitter-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.facebook{grid-area: facebook}
.instagram{grid-area: instagram}
.twitter{grid-area: twitter}
.facebook-text{grid-area: face-text}
.instagram-text{grid-area: insta-text}
.twitter-text{grid-area: twit-text}

.liste-media img{
    width: 10em;
    height: 10em;
}
.liste-media li a{
    font-size: 1.5em;
    letter-spacing: 0.1em;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: 4em 0 4em 0;
    padding: 1em 0 1em 0;
    background-color:  var(--white);
}
.header-contact{
    font-size: 1.5em;
    letter-spacing: 0.05em;
}
.contact ul{
    position: relative;
    margin-top: 2em;
    line-height: 1.4em;
}
.contact ul::before, .contact ul::after{
    content: "";
    position: absolute;
    top: 0;
    width: 0.2em;
    height: 100%;
    background: var(--white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffa500",GradientType=1);
}
.contact ul::before{
    left: -10%;
    background: -moz-linear-gradient(0deg, var(--white) 0%, var(--orange) 100%);
    background: -webkit-linear-gradient(0deg, var(--white) 0%, var(--orange) 100%);
    background: linear-gradient(0deg, var(--white) 0%, var(--orange) 100%);
}
.contact ul::after{
    right: -10%;
    background: -moz-linear-gradient(180deg, var(--white) 0%, var(--orange) 100%);
    background: -webkit-linear-gradient(180deg, var(--white) 0%, var(--orange) 100%);
    background: linear-gradient(180deg, var(--white) 0%, var(--orange) 100%);
}
.title-info{
    color: var(--orange);
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 1.1em;
}
.data{
    font-size: 1em;
    letter-spacing: 0.01em;
}

