.navbar i{
    font-size: 2em;
    position: absolute;
    display: none;
    color: white;
    top: 20%;
    right: 5%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.responsive-navbar{
    font-size: 20px;
    background-color: var(--second-green);
    z-index: 3;
    position: absolute;
    top: 4em;
    right: 0;
    width: 0;
    height: 15em;
    transition: 0.3s ease-in-out;
}
.responsive-nav-link{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
}
.responsive-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.responsive-link:hover{
    background-color: white;
}
.responsive-link:hover a{
    color: #355E22;
}
.responsive-link a{
    color: white;
    font-size: 1em;
    letter-spacing: 0.1em;
}
