:root{
    --main-green : white;
    --white : rgb(92, 137, 56);
    --second-green : rgba(157,182,138,1);
    --brown : black;
    --third-green : forestgreen;
    --black : rgb(65, 46, 35);
    --orange : deepskyblue;
    --white-green : #355E22;
    --green : rgb(92, 97, 56);
    --blue : rgb(255, 165, 0);
}
.presentation{
    background-image: url("../images/reversebackground.jpg");
}