@media screen and (max-width: 1500px) {
    .apropos{font-size: 18px}
}
@media screen and (max-width: 1380px)
{
    .navbar{font-size: 17px}
    .presentation{font-size: 17px}
    .introduction{font-size: 17px}
    .article-1,.article-2,.article-3{font-size: 15px}
    .apropos{
        font-size: 16px;
        width: 70%;
    }
    .main{font-size: 15px}
    .contact{font-size: 18px}
    .nos-articles, .brief, .more-information {
        font-size: 15px;
    }
}
@media screen and (max-width: 1050px)
{
    .article-1,.article-2,.article-3{font-size: 13px}
}

@media screen and (max-width: 900px)
{
    .nos-articles, .brief, .more-information {
        font-size: 14px;
    }
    .all-infos-first li, .all-infos-second li, .all-infos-third li{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 890px)
{
    .article-2 .first{order: 1}
    .article-2 .second{order: 2}
    .article-1,.article-2,.article-3{font-size: 15px}
    .apropos{font-size: 22px}
}

@media screen and (max-width: 750px)
{
    .structure{
        margin: 1em;
        width: auto;
    }
    .brief{
        gap: 2em;
        justify-content: center;
    }
    .picture-article{
        width: 20em;
    }
    .all-infos-first, .all-infos-second, .all-infos-third{
        margin-bottom: 5em;
    }
}
@media screen and (max-width: 700px){
    .presentation{font-size: 13px}
    .introduction{font-size: 13px}
    .article-1,.article-2,.article-3{font-size: 10px}
    .header-title{
        margin-top: 0;
        margin-left: 0;
    }
    .header-title span{
        color : var(--white);
        font-weight: 700;
    }
    .presentation{
        clip-path: ellipse(95% 60% at 50% 30%);
        justify-content: center;
    }
    .article-2 .first{order: 1}
    .article-2 .second{order: 2}
    .apropos{font-size: 13px}
    .main{font-size: 10px}
    .contact{font-size: 13px}
    .input{padding: 0.8em 0 0.8em 1.8em}
    .textarea{
        padding: 0.8em 0 0.8em 1.3em;
        height: 7em;
    }
    .button{ padding: 1em 0 1em 0;}
    .para-form{font-size: 1.3em}
    .title-form{font-size: 1.8em}
    .show-infos{font-size: 1.2em}
    .all-infos-first li ,.all-infos-second li,.all-infos-third li{font-size: 1.1em}
    .navbar-link {display: none}
    .navbar i{display: flex}
    .responsive-navbar{font-size: 17px}
    .start{width: auto;}
    .footer{
        font-size: 17px;
        flex-direction: column;
        }
}
@media screen and (max-width: 320px)
{
    .main{font-size: 10px}
}
