@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
li{
    list-style-type: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4em;
    font-size: 20px;
    background: url("../images/background.jpg") no-repeat fixed center;
    transition: 0.2s ease-in-out;
}
.navbar ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}
.navbar-link{
    color: white;
}
.navbar-link::after{
    content: "";
    display: block;
    position: relative;
    top: 0.3em;
    width: 0;
    height: 0.1em;
    background-color: white;
    transition: 0.25s ease-in-out;
}
.navbar-link:hover::after{
    width: 100%;
}


.presentation{
    position: relative;
    font-size: 20px;
    background: url("../images/background.jpg") no-repeat fixed center;
    height: 30em;
    clip-path: ellipse(75% 60% at 50% 30%);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-title{
    font-size: 2.8em;
    color: white;
    margin-top: -5%;
    margin-left: 5%;
    letter-spacing: 0.1em;
    font-weight: 300;
    text-align: center;
}
.header-title span{
    color : rgb(92, 137, 56);
    font-weight: 700;
}

.introduction{
    position: relative;
    background-color: white;
    z-index: 2;
    font-size: 20px;
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3em;
}
.intro-h1{
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.08em;
}
.intro-h1 span{
    color : rgb(92, 137, 56);
    font-weight: 700;
}
.intro-p{
    text-align: center;
    font-size: 1.3em;
}

.presentation-article{
    font-size: 20px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: white;

}
.article-1, .article-2, .article-3{
    position: relative;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    height: auto;
    gap: 5em;
}

.first{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 30rem;
}
.second{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 25rem;
}

.article-1 .second::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #355E22;
    clip-path: polygon(100% 0, 100% 25%, 25% 25%, 25% 100%, 0 100%, 0 100%, 0 0);
}
.article-1 .second::after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #355E22;
    transform: rotate(180deg);
    clip-path: polygon(100% 0, 100% 25%, 25% 25%, 25% 100%, 0 100%, 0 100%, 0 0);
}
.article-2 .second::before{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #355E22;
    clip-path: polygon(100% 0, 100% 25%, 25% 25%, 25% 100%, 0 100%, 0 100%, 0 0);
    transform: rotate(90deg);
}
.article-2 .second::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #355E22;
    transform: rotate(270deg);
    clip-path: polygon(100% 0, 100% 25%, 25% 25%, 25% 100%, 0 100%, 0 100%, 0 0);
}
.article-3 .second::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    background-color: #355E22;
    clip-path: polygon(100% 0, 100% 25%, 25% 25%, 25% 100%, 0 100%, 0 100%, 0 0);
}
.article-3 .second::after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    background-color: #355E22;
    transform: rotate(180deg);
    clip-path: polygon(100% 0, 100% 25%, 25% 25%, 25% 100%, 0 100%, 0 100%, 0 0);
}

.picture-first, .picture-second, .picture-third{
    width: 100%;
    height: auto;
    clip-path: polygon(16% 0, 100% 0%, 84% 100%, 0% 100%);
    border-radius: 5em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.picture-first:hover, .picture-second:hover, .picture-third:hover{
    transform: scale(1.05);
}

.article-2 .first{
    order: 2;
}
.article-2 .second{
    order: 1;
}



@media screen and (max-width: 1380px)
{
    .navbar{font-size: 17px}
    header{font-size: 17px}
    .introduction{font-size: 17px}
    .presentation-article {font-size: 17px}
}
@media screen and (max-width: 700px){
    .header-title{
        margin-top: 0;
        margin-left: 0;
    }
    .header-title span{
        color : white;
        font-weight: 700;
    }
    .presentation{
        clip-path: ellipse(95% 60% at 50% 30%);
        justify-content: center;
    }
    .article-2 .first{
        order: 1;
    }
    .article-2 .second{
        order: 2;
    }
}

.product{
    width: 100%;
    height: 100%;
    background-size: 100%;
    clip-path: polygon(16% 0, 100% 0%, 84% 100%, 0% 100%);
    border-radius: 5em;
}

.product-h3{
    font-size: 1.5em;
    letter-spacing: 0.05em;
}
.product-p{
    margin-top: 1em;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 0.03em;
}
.product-p span{
    color : rgb(92, 137, 56);
    font-size: 1.2rem;
    font-weight: bold;
}
.product-data{
    margin-top: 1em;
}
.product-data li{
    font-size: 1.2rem;
    list-style-type: circle;
    letter-spacing: 0.03em;
    color : rgb(65, 46, 35);
    font-weight: bold;
}
.product-btn{
    position: relative;
    overflow: hidden;
    margin-top: 1em;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    letter-spacing: 0.05em;
    background-color: rgb(92, 137, 56);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    border-radius: 0.3em;
}
.product-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(92, 97, 56);
    transition: 0.2s ease-in-out;
    z-index: -1;
}
.product-btn:hover::before{
    height: 100%;
}

.footer{
    font-size: 20px;
    margin-top: 5em;
    width: 100%;
    height: 4em;
    background-color: #355E22;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}