*{
    padding: 0;
    margin: 0;
    font-family: var(--font);
}
li{
    list-style-type: none;
    cursor: pointer;
}
a{
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}
body{
    overflow-x: hidden;
    background-color: var(--white);
    font-weight: 400;
}
/* NAVBAR */
.navbar{
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 4em;
    background-color: var(--second-green);
    transition: 0.5s ease-in-out;
}
.navbar ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}
.navbar-link{
    color: var(--white);
}
.navbar-link::after{
    content: "";
    display: block;
    position: relative;
    top: 0.3em;
    width: 0;
    height: 0.1em;
    background-color: var(--white);
    transition: 0.25s ease-in-out;
}
.navbar-link:hover::after{
    width: 100%;
}
/* | */
/* Main */
.presentation-article{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--white);

}
/* Presentation */
.presentation{
    position: relative;
    font-size: 20px;
    background-position: center top;
    background-attachment: fixed;
    height: 30em;
    clip-path: ellipse(75% 60% at 50% 30%);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-title{
    font-size: 2.8em;
    color: var(--white);
    margin: -5% 0 0 5%;
    letter-spacing: 0.1em;
    font-weight: 300;
    text-align: center;
}
.header-title span{
    color : var(--main-green);
    font-weight: 700;
}
/* | */
/* Intro */
.introduction{
    position: relative;
    background-color: var(--white);
    font-size: 20px;
    margin: 3em 0 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3em;
}
.intro-h1{
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.08em;
}
.intro-h1 span{
    color : var(--main-green);
    font-weight: 700;
}
.intro-p{
    margin-top: 1em;
    line-height: 1em;
    text-align: center;
    font-size: 1.3em;
}
.intro-p a{
    color: var(--second-green);
}
/* | */
/* articles */
.article-1, .article-2, .article-3{
    font-size: 18px;
    position: relative;
    padding: 2em;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    height: auto;
    gap: 5em;
}
.first{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    width: 30em;
}
.second{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 25em;
}
/* Petit coins */
.article-1 .second::before, .article-2 .second::before, .article-3 .second::before,
.article-1 .second::after, .article-2 .second::after, .article-3 .second::after {
    position: absolute;
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    background-color: var(--second-green);
    clip-path: polygon(100% 0, 100% 25%, 25% 25%, 25% 100%, 0 100%, 0 100%, 0 0);
}
.article-1 .second::after, .article-3 .second::after{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
.article-1 .second::before, .article-3 .second::before {
    top: 0;
    left: 0;
}
.article-2 .second::before{
    top: 0;
    right: 0;
    transform: rotate(90deg);
}
.article-2 .second::after{
    bottom: 0;
    left: 0;
    transform: rotate(270deg);
}
/* | */
.picture-first, .picture-second, .picture-third{
    position: relative;
    width: 0;
    height: auto;
    border-radius: 5em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.picture-first:hover, .picture-second:hover, .picture-third:hover{
    transform: scale(1.05);
}
.article-2 .first{
    order: 2;
}
.article-2 .second{
    order: 1;
}
.product-h3{
    font-size: 1.8em;
    letter-spacing: 0.05em;
}
.product-p{
    margin-top: 1em;
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 0.03em;
}
.product-p span{
    color : var(--main-green);
    font-size: 1em;
    font-weight: bold;
}
.product-data{
    margin-top: 1em;
}
.product-data li{
    font-size: 1.2em;
    list-style-type: circle;
    letter-spacing: 0.03em;
    color : var(--brown);
    font-weight: bold;
}
/* Achat bouton */
.product-btn{
    position: relative;
    overflow: hidden;
    margin-top: 1em;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    letter-spacing: 0.05em;
    background-color: var(--main-green);
    border: none;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    border-radius: 0.3em;
}
.product-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--third-green);
    transition: 0.2s ease-in-out;
    z-index: -1;
}
.product-btn:hover::before{
    height: 100%;
}
/* | */
.footer{
    font-size: 20px;
    margin-top: 5em;
    width: 100%;
    height: auto;
    background-color: var(--second-green);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.copyright, .others-links, .coordinates{
    margin: 2em 0 2em 0;
}
.copyright h2, .others-links h2, .coordinates h2{
    font-size: 1.2em;
}
.copyright h2:nth-child(2){
    margin: 1em 0 1em 0;
    font-size: 1em;
}
.others-links a, .coordinates a{
    color: var(--white);
    font-size: 0.8em;
}
.others-links ul, .coordinates ul{
    margin: 1em 0 0 1.5em;
}
.others-links li, .title-info-footer{
    list-style-type: circle;
}
/* Bouton changement de style */
.button-style{
    background-color: var(--orange);
    padding: 0.5em;
    border-radius: 0.3em;
    -webkit-box-shadow: 1px 1px 14px 5px var(--black);
    box-shadow: 1px 1px 14px 5px var(--black);
    letter-spacing: 0.1em;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: none;
}
.button-style:hover{
    background-color: var(--white);
}
/* | */
/* source */
.source{
    position: absolute;
    font-size: 0.7em;
    top: 90%;
    right: 0;
    transform: translate(-50%,-50%);
}
