/* latin-ext */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/yanonekaffeesatz/v18/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZeWGKOnU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/yanonekaffeesatz/v18/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZd2GK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root{
    --main-green : rgb(92, 137, 56);
    --white : white;
    --second-green : #355E22;
    --brown : rgb(65, 46, 35);
    --third-green : rgb(92, 97, 56);
    --black : black;
    --orange : rgb(255, 165, 0);
    --white-green : rgba(157,182,138,1);
    --green : forestgreen;
    --blue : deepskyblue;
    --font : 'Yanone Kaffeesatz', sans-serif;
}
.footer{flex-flow: row wrap;}
.article-1,.article-2,.article-3{flex-flow: row wrap;}
.form form{flex-direction: column;}
.socials{flex-direction: column;}
.main{flex-flow: row wrap;}
.apropos{flex-direction: column;}
.brief{flex-flow: row wrap;}
.description{flex-direction: column;}
.navbar ul{flex-direction: row;}

.presentation{background-image: url("../images/normal/background.jpg");}
.picture-first{content: url("../images/normal/mangohaze.jpeg");}
.picture-second{content: url("../images/normal/huile.jpeg");}
.picture-third{content: url("../images/normal/the.jpeg");}

#picture-mangohaze{content: url("../images/normal/mangohaze.jpeg");}
#picture-huile{content: url("../images/normal/huile.jpeg");}
#picture-the{content: url("../images/normal/the.jpeg");}

.facebook img{content: url("../images/normal/facebook.png");}
.instagram img{content: url("../images/normal/instagram.png");}
.twitter img{content: url("../images/normal/twitter.png");}